In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv('/content/Salaries_allsources.csv')

print(df.head())

   work_year experience_level employment_type                   job_title  \
0       2020               MI              FT              Data Scientist
1       2020               SE              FT  Machine Learning Scientist
2       2020               SE              FT           Big Data Engineer
3       2020               MI              FT        Product Data Analyst
4       2020               SE              FT   Machine Learning Engineer

   salary salary_currency company_location company_size
0   70000             EUR               DE            L
1  260000             USD               JP            S
2   85000             GBP               GB            M
3   20000             USD               HN            S
4  150000             USD               US            L

In [ ]:
print(df.isnull().sum())

work_year           0
experience_level    0
employment_type     0
job_title           0
salary              0
salary_currency     0
company_location    0
company_size        0
dtype: int64

In [ ]:
df['salary_currency'].unique()

array(['EUR', 'USD', 'GBP', 'HUF', 'INR', 'JPY', 'CNY', 'MXN', 'CAD',
       'DKK', 'PLN', 'SGD', 'CLP', 'BRL', 'TRY', 'AUD', 'CHF',
       'United States Dollar', 'British Pound Sterling', 'Euro',
       'Indian Rupee', 'Philippine Peso', 'Canadian Dollar',
       'Turkish Lira', 'Brazilian Real', 'Swiss Franc',
       'Australian Dollar', 'Polish Zloty', 'Norwegian Krone',
       'Japanese Yen', 'South African Rand', 'Hong Kong Dollar',
       'Singapore Dollar', 'Israeli New Shekel', 'Thai Baht',
       'Hungarian Forint', 'Danish Krone', 'Mexican Peso', 'Chilean Peso'],
      dtype=object)

In [ ]:
pln_count = df[df['salary_currency'].isin(['PLN', 'Polish Zloty'])].shape[0]
print(pln_count)

9

In [ ]:
other_count = df[df['salary_currency'].isin(['EUR', 'USD', 'GBP','United States Dollar', 'British Pound Sterling', 'Euro'])].shape[0]
print(other_count)

3710

In [ ]:
values_to_remove = ['HUF', 'INR', 'JPY', 'CNY', 'MXN', 'CAD', 'DKK', 'PLN', 'SGD', 'CLP', 'BRL', 'TRY', 'AUD',
                    'CHF', 'Indian Rupee', 'Philippine Peso', 'Canadian Dollar', 'Turkish Lira', 'Brazilian Real',
                    'Swiss Franc', 'Australian Dollar', 'Polish Zloty', 'Norwegian Krone', 'Japanese Yen',
                    'South African Rand', 'Hong Kong Dollar', 'Singapore Dollar', 'Israeli New Shekel', 'Thai Baht',
                    'Hungarian Forint', 'Danish Krone', 'Mexican Peso', 'Chilean Peso']

# Remove rows where 'salary_currency' is in the list of values to remove
df = df[~df['salary_currency'].isin(values_to_remove)]

In [ ]:
df['salary_currency'].unique()

array(['EUR', 'USD', 'GBP', 'United States Dollar',
       'British Pound Sterling', 'Euro'], dtype=object)

In [ ]:
replacements = {'United States Dollar': 'USD',
                'British Pound Sterling': 'GBP',
                'Euro': 'EUR'}

# Replace values in 'salary_currency' column
df['salary_currency'] = df['salary_currency'].replace(replacements)

In [ ]:
df['salary_currency'].unique()

array(['EUR', 'USD', 'GBP'], dtype=object)

In [ ]:
df['experience_level'].unique()

array(['MI', 'SE', 'EN', 'EX', 'Senior', 'Mid', 'Executive', 'Entry'],
      dtype=object)

In [ ]:
replacements = {'SE': 'Senior',
                'MI': 'Mid',
                'EN': 'Entry', 'EX': 'Executive'}

df['experience_level'] = df['experience_level'].replace(replacements)

In [ ]:
df['experience_level'].unique()

array(['Mid', 'Senior', 'Entry', 'Executive'], dtype=object)

In [ ]:
df['employment_type'].unique()

array(['FT', 'CT', 'PT', 'FL', 'Full-Time', 'Part-Time', 'Contract',
       'Freelance'], dtype=object)

In [ ]:
replacements = {'FT': 'Full-Time',
                'PT': 'Part-Time',
                'CT': 'Contract', 'FL': 'Freelance'}

df['employment_type'] = df['employment_type'].replace(replacements)

In [ ]:
df['employment_type'].unique()

array(['Full-Time', 'Contract', 'Part-Time', 'Freelance'], dtype=object)

In [ ]:
df['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist',
       'Big Data Engineer', 'Product Data Analyst',
       'Machine Learning Engineer', 'Data Analyst', 'Lead Data Scientist',
       'Business Data Analyst', 'Lead Data Engineer', 'Lead Data Analyst',
       'Data Engineer', 'BI Data Analyst', 'Director of Data Science',
       'Research Scientist', 'Data Engineering Manager',
       'Data Science Consultant',
       'Machine Learning Infrastructure Engineer', 'ML Engineer',
       'Computer Vision Engineer', 'Principal Data Scientist',
       'Data Science Manager', 'Head of Data', 'Data Analytics Engineer',
       'Marketing Data Analyst', 'AI Scientist', 'Financial Data Analyst',
       'Computer Vision Software Engineer',
       'Director of Data Engineering', 'Data Science Engineer',
       'Principal Data Engineer', 'Applied Data Scientist',
       'Machine Learning Developer', 'Applied Machine Learning Scientist',
       'Cloud Data Engineer', 'Data Analytics Manager',
       'Head of Data Science', 'Data Specialist', 'Data Architect',
       'Finance Data Analyst', 'Principal Data Analyst',
       'Staff Data Scientist', 'Analytics Engineer', 'ETL Developer',
       'Lead Machine Learning Engineer', 'Data Analytics Lead',
       'Business Intelligence Developer', 'Decision Scientist',
       'BI Developer', 'BI Analyst', 'Data Manager',
       'Business Intelligence Engineer', 'AI Programmer',
       'Applied Scientist', 'Research Engineer', 'Data Lead',
       'Data Strategist', 'Data Quality Analyst', 'AI Architect',
       'Business Intelligence Analyst', 'Staff Machine Learning Engineer',
       'Machine Learning Specialist', 'Data Quality Engineer',
       'Research Analyst', 'Deep Learning Engineer',
       'Data Visualization Specialist', 'MLOps Engineer',
       'Data Operations Manager', 'Managing Director Data Science',
       'Data Modeller', 'Software Data Engineer',
       'Machine Learning Research Engineer', 'Compliance Data Analyst',
       'Data Operations Specialist', 'Machine Learning Software Engineer',
       'Analytics Engineering Manager',
       'Business Intelligence Data Analyst', 'Insight Analyst',
       'NLP Engineer', 'Data Operations Engineer', 'Staff Data Analyst',
       'AWS Data Architect', 'Data Integration Specialist',
       'Data Visualization Analyst', 'Autonomous Vehicle Technician',
       'Data Modeler', 'Sales Data Analyst', 'Data Operations Analyst',
       'Data Science Lead', 'Applied Machine Learning Engineer',
       'ETL Engineer', 'Data DevOps Engineer', 'AI Developer',
       'Machine Learning Researcher', 'BI Data Engineer',
       'Cloud Database Engineer', 'Data Infrastructure Engineer',
       'Deep Learning Researcher', 'Data Analytics Specialist',
       'Big Data Architect', 'Azure Data Engineer',
       'Manager Data Management', 'Principal Machine Learning Engineer',
       'Data Analytics Consultant', 'Data Management Specialist',
       'Data Science Tech Lead', 'Data Scientist Lead',
       'Machine Learning Manager', 'Cloud Data Architect'], dtype=object)

In [ ]:
df['job_title'] = df['job_title'].str.lower()

In [ ]:
title_mapping = {
    'data analytics engineer': 'Data Engineer',
    'machine learning infrastructure engineer': 'Machine Learning Engineer',
    'ml engineer': 'Machine Learning Engineer',
    'computer vision engineer': 'Machine Learning Engineer',
    'cloud data engineer': 'Data Engineer',
    'data analytics manager': 'Data Analyst',
    'data specialist': 'Data Analyst',
    'analytics engineer': 'Data Engineer',
    'lead machine learning engineer': 'Lead Machine Learning Engineer',
    'data analytics lead': 'Lead Data Analyst',
    'business intelligence developer': 'Business Intelligence Engineer',
    'bi developer': 'Business Intelligence Engineer',
    'bi analyst': 'Business Intelligence Analyst',
    'analytics engineering manager': 'Data Engineer',
    'business intelligence data analyst': 'Business Intelligence Analyst',
    'nlp engineer': 'Machine Learning Engineer',
    'data integration specialist': 'Data Engineer',
    'data visualization analyst': 'Data Analyst',
    'autonomous vehicle technician': 'Data Engineer',
    'data modeler': 'Data Analyst',
    'sales data analyst': 'Data Analyst',
    'data operations analyst': 'Data Engineer',
    'applied machine learning engineer': 'Machine Learning Engineer',
    'etl engineer': 'Data Engineer',
    'data devops engineer': 'Data Engineer',
    'ai developer': 'AI Programmer',
    'big data architect': 'Data Engineer',
    'azure data engineer': 'Data Engineer',
    'principal machine learning engineer': 'Lead Machine Learning Engineer',
    'data analytics consultant': 'Data Analyst',
    'data management specialist': 'Data Analyst',
    'data science tech lead': 'Lead Data Scientist',
    'data scientist lead': 'Lead Data Scientist',
    'machine learning manager': 'Machine Learning Engineer',
    'cloud data architect': 'Data Engineer',
}
df['job_title'] = df['job_title'].replace(title_mapping)

In [ ]:
df['job_title'].unique()

array(['data scientist', 'machine learning scientist',
       'big data engineer', 'product data analyst',
       'machine learning engineer', 'data analyst',
       'business data analyst', 'data engineer', 'bi data analyst',
       'director of data science', 'research scientist',
       'data engineering manager', 'data science consultant',
       'principal data scientist', 'data science manager', 'head of data',
       'marketing data analyst', 'ai scientist', 'financial data analyst',
       'computer vision software engineer',
       'director of data engineering', 'data science engineer',
       'principal data engineer', 'applied data scientist',
       'machine learning developer', 'applied machine learning scientist',
       'head of data science', 'data architect', 'finance data analyst',
       'principal data analyst', 'staff data scientist', 'etl developer',
       'Lead Machine Learning Engineer', 'business intelligence engineer',
       'decision scientist', 'business intelligence analyst',
       'data manager', 'ai programmer', 'applied scientist',
       'research engineer', 'data lead', 'data strategist',
       'data quality analyst', 'ai architect',
       'staff machine learning engineer', 'machine learning specialist',
       'data quality engineer', 'research analyst',
       'deep learning engineer', 'data visualization specialist',
       'mlops engineer', 'data operations manager',
       'managing director data science', 'data modeller',
       'software data engineer', 'machine learning research engineer',
       'compliance data analyst', 'data operations specialist',
       'machine learning software engineer', 'insight analyst',
       'data operations engineer', 'staff data analyst',
       'aws data architect', 'data science lead',
       'machine learning researcher', 'bi data engineer',
       'cloud database engineer', 'data infrastructure engineer',
       'deep learning researcher', 'data analytics specialist',
       'data management'], dtype=object)

In [ ]:
title_mapping = {
    'data scientist': 'Data Scientist',
    'machine learning scientist': 'Machine Learning Scientist',
    'big data engineer': 'Data Engineer',
    'product data analyst': 'Data Analyst',
    'machine learning engineer': 'Machine Learning Engineer',
    'data analyst': 'Data Analyst',
    'business data analyst': 'Business Data Analyst',
    'data engineer': 'Data Engineer',
    'bi data analyst': 'Business Data Analyst',
    'director of data science': 'Data Scientist',
    'research scientist': 'Research Scientist',
    'data engineering manager': 'Data Engineering Manager',
    'data science consultant': 'Data Scientist',
    'principal data scientist': 'Data Scientist',
    'data science manager': 'Data Scientist',
    'head of data': 'Head of Data',
    'marketing data analyst': 'Data Analyst',
    'ai scientist': 'AI Scientist',
    'financial data analyst': 'Data Analyst',
    'computer vision software engineer': 'Computer Vision Software Engineer',
    'director of data engineering': 'Data Engineering',
    'data science engineer': 'Data Science Engineer',
    'principal data engineer': 'Data Engineer',
    'applied data scientist': 'Data Scientist',
    'machine learning developer': 'Machine Learning Engineer',
    'applied machine learning scientist': 'Applied Machine Learning Scientist',
    'head of data science': 'Head of Data',
    'data architect': 'Data Architect',
    'finance data analyst': 'Data Analyst',
    'principal data analyst': 'Data Analyst',
    'staff data scientist': 'Data Scientist',
    'etl developer': 'ETL Developer',
    'lead machine learning engineer': 'Machine Learning Engineer',
    'business intelligence engineer': 'Business Intelligence Engineer',
    'decision scientist': 'Decision Scientist',
    'business intelligence analyst': 'Business Intelligence Analyst',
    'data manager': 'Data Manager',
    'ai programmer': 'AI Programmer',
    'applied scientist': 'Applied Scientist',
    'research engineer': 'Research Engineer',
    'data lead': 'Data Lead',
    'data strategist': 'Data Strategist',
    'data quality analyst': 'Data Analyst',
    'ai architect': 'AI Architect',
    'staff machine learning engineer': 'Staff Machine Learning Engineer',
    'machine learning specialist': 'Machine Learning Specialist',
    'data quality engineer': 'Data Quality Engineer',
    'research analyst': 'Research Analyst',
    'deep learning engineer': 'Deep Learning Engineer',
    'data visualization specialist': 'Data Visualization Specialist',
    'mlops engineer': 'MLOps Engineer',
    'data operations manager': 'Data Operations Manager',
    'managing director data science': 'Managing Director Data Science',
    'data modeller': 'Data Modeller',
    'software data engineer': 'Software Data Engineer',
    'machine learning research engineer': 'Machine Learning Research Engineer',
    'compliance data analyst': 'Data Analyst',
    'data operations specialist': 'Data Operations Specialist',
    'machine learning software engineer': 'Machine Learning Software Engineer',
    'insight analyst': 'Data Analyst',
    'data operations engineer': 'Data Operations Engineer',
    'staff data analyst': 'Staff Data Analyst',
    'aws data architect': 'AWS Data Architect',
    'data science lead': 'Data Science Lead',
    'machine learning researcher': 'Machine Learning Researcher',
    'bi data engineer': 'BI Data Engineer',
    'cloud database engineer': 'Cloud Database Engineer',
    'data infrastructure engineer': 'Data Infrastructure Engineer',
    'deep learning researcher': 'Deep Learning Researcher',
    'data analytics specialist': 'Data Analyst',
    'data management': 'Data Management',
}

df['job_title'] = df['job_title'].replace(title_mapping)

In [ ]:
df['job_title'].unique()

array(['Data Scientist', 'Machine Learning Scientist', 'Data Engineer',
       'Data Analyst', 'Machine Learning Engineer',
       'Business Data Analyst', 'Research Scientist',
       'Data Engineering Manager', 'Head of Data', 'AI Scientist',
       'Computer Vision Software Engineer', 'Data Engineering',
       'Data Science Engineer', 'Applied Machine Learning Scientist',
       'Data Architect', 'ETL Developer',
       'Lead Machine Learning Engineer', 'Business Intelligence Engineer',
       'Decision Scientist', 'Business Intelligence Analyst',
       'Data Manager', 'AI Programmer', 'Applied Scientist',
       'Research Engineer', 'Data Lead', 'Data Strategist',
       'AI Architect', 'Staff Machine Learning Engineer',
       'Machine Learning Specialist', 'Data Quality Engineer',
       'Research Analyst', 'Deep Learning Engineer',
       'Data Visualization Specialist', 'MLOps Engineer',
       'Data Operations Manager', 'Managing Director Data Science',
       'Data Modeller', 'Software Data Engineer',
       'Machine Learning Research Engineer', 'Data Operations Specialist',
       'Machine Learning Software Engineer', 'Data Operations Engineer',
       'Staff Data Analyst', 'AWS Data Architect', 'Data Science Lead',
       'Machine Learning Researcher', 'BI Data Engineer',
       'Cloud Database Engineer', 'Data Infrastructure Engineer',
       'Deep Learning Researcher', 'Data Management'], dtype=object)

In [ ]:
df['company_location'].unique()

array(['DE', 'JP', 'GB', 'HN', 'US', 'NZ', 'FR', 'PK', 'GR', 'AE', 'NL',
       'AT', 'NG', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL', 'DK', 'RO', 'IN',
       'IQ', 'BR', 'BE', 'UA', 'RU', 'MT', 'IR', 'CO', 'MD', 'KE', 'SI',
       'CA', 'VN', 'CN', 'CZ', 'MX', 'DZ', 'EE', 'MY', 'AU', 'IE',
       'United States', 'United Kingdom', 'Germany', 'Sweden',
       'Korea, Republic of', 'Spain', 'Estonia', 'France', 'Canada',
       'Australia', 'Portugal', 'Andorra', 'Netherlands', 'Ecuador',
       'Mexico', 'Israel', 'Turkey', 'Nigeria', 'Saudi Arabia',
       'Colombia', 'Ghana', 'Argentina', 'India', 'Japan',
       'Russian Federation', 'Italy', 'Central African Republic',
       'Ukraine', 'Ireland', 'Slovenia', 'Croatia', 'Armenia',
       'Bosnia and Herzegovina', 'Kenya', 'Latvia', 'Romania', 'Pakistan',
       'Lithuania', 'Iran, Islamic Republic of', 'Bahamas', 'Austria',
       'Brazil', 'Puerto Rico', 'Finland', 'American Samoa', 'Thailand',
       'Greece', 'Philippines', 'Belgium', 'Egypt', 'Indonesia',
       'United Arab Emirates', 'Malaysia', 'Honduras', 'Czechia',
       'Algeria', 'Iraq', 'Poland', 'Denmark', 'China', 'New Zealand',
       'Moldova, Republic of', 'Luxembourg', 'Malta'], dtype=object)

In [ ]:
df.to_csv('/content/Salaries_allsources.csv', index=False)

In [ ]:
import pandas as pd
import numpy as np


df = pd.read_csv('/content/Salaries_allsources.csv')

print(df.head())

   work_year experience_level employment_type                   job_title  \
0       2020              Mid       Full-Time              Data Scientist
1       2020           Senior       Full-Time  Machine Learning Scientist
2       2020           Senior       Full-Time               Data Engineer
3       2020              Mid       Full-Time                Data Analyst
4       2020           Senior       Full-Time   Machine Learning Engineer

   salary salary_currency company_location company_size
0   70000             EUR               DE            L
1  260000             USD               JP            S
2   85000             GBP               GB            M
3   20000             USD               HN            S
4  150000             USD               US            L

In [ ]:
df['salary_currency'].unique()

array(['EUR', 'USD', 'GBP'], dtype=object)

In [ ]:
# Assuming the exchange rates are as follows:
exchange_rates = {'EUR': 1.07, 'GBP': 1.26}

# Function to convert salary to USD based on currency
def convert_to_usd(row):
    if row['salary_currency'] == 'USD':
        return row['salary']
    else:
        exchange_rate = exchange_rates.get(row['salary_currency'])
        if exchange_rate:
            return row['salary'] * exchange_rate
        else:
            return None

# Apply the conversion function to create a new column 'salary_usd'
df['salary_usd'] = df.apply(convert_to_usd, axis=1)

# Drop rows where conversion was not possible (currency not recognized)
df = df.dropna(subset=['salary_usd'])

In [ ]:
df['salary_currency'].unique()

array(['EUR', 'USD', 'GBP'], dtype=object)

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,company_location,company_size,salary_usd
0,2020,Mid,Full-Time,Data Scientist,70000,EUR,DE,L,74900.0
1,2020,Senior,Full-Time,Machine Learning Scientist,260000,USD,JP,S,260000.0
2,2020,Senior,Full-Time,Data Engineer,85000,GBP,GB,M,107100.0
3,2020,Mid,Full-Time,Data Analyst,20000,USD,HN,S,20000.0
4,2020,Senior,Full-Time,Machine Learning Engineer,150000,USD,US,L,150000.0

In [ ]:
df['company_location'].unique()

array(['DE', 'JP', 'GB', 'HN', 'US', 'NZ', 'FR', 'PK', 'GR', 'AE', 'NL',
       'AT', 'NG', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL', 'DK', 'RO', 'IN',
       'IQ', 'BR', 'BE', 'UA', 'RU', 'MT', 'IR', 'CO', 'MD', 'KE', 'SI',
       'CA', 'VN', 'CN', 'CZ', 'MX', 'DZ', 'EE', 'MY', 'AU', 'IE',
       'United States', 'United Kingdom', 'Germany', 'Sweden',
       'Korea, Republic of', 'Spain', 'Estonia', 'France', 'Canada',
       'Australia', 'Portugal', 'Andorra', 'Netherlands', 'Ecuador',
       'Mexico', 'Israel', 'Turkey', 'Nigeria', 'Saudi Arabia',
       'Colombia', 'Ghana', 'Argentina', 'India', 'Japan',
       'Russian Federation', 'Italy', 'Central African Republic',
       'Ukraine', 'Ireland', 'Slovenia', 'Croatia', 'Armenia',
       'Bosnia and Herzegovina', 'Kenya', 'Latvia', 'Romania', 'Pakistan',
       'Lithuania', 'Iran, Islamic Republic of', 'Bahamas', 'Austria',
       'Brazil', 'Puerto Rico', 'Finland', 'American Samoa', 'Thailand',
       'Greece', 'Philippines', 'Belgium', 'Egypt', 'Indonesia',
       'United Arab Emirates', 'Malaysia', 'Honduras', 'Czechia',
       'Algeria', 'Iraq', 'Poland', 'Denmark', 'China', 'New Zealand',
       'Moldova, Republic of', 'Luxembourg', 'Malta'], dtype=object)

In [ ]:
# List of countries to keep
countries_to_keep = ['United States', 'United Kingdom', 'Germany', 'Sweden', 'Spain', 'Estonia', 'France', 'Portugal', 'Andorra', 'Netherlands', 'Italy', 'Ireland', 'Slovenia', 'Croatia', 'Armenia', 'Bosnia and Herzegovina', 'Latvia', 'Romania', 'Lithuania', 'Austria', 'Finland', 'Greece', 'Belgium', 'Denmark', 'Luxembourg', 'DE', 'GB', 'FR', 'NL', 'AT', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL', 'DK', 'RO', 'IE', 'BE', 'UA', 'RU', 'MT', 'SI', 'CZ', 'EE', 'LT', 'LV', 'SE', 'FI', 'CH', 'IS']

# Filter DataFrame to include only the countries in the list
filtered_df = df[df['company_location'].isin(countries_to_keep)]

# Optionally, you can reset the index if you want
filtered_df.reset_index(drop=True, inplace=True)

In [ ]:
df['company_location'].unique()

array(['DE', 'JP', 'GB', 'HN', 'US', 'NZ', 'FR', 'PK', 'GR', 'AE', 'NL',
       'AT', 'NG', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL', 'DK', 'RO', 'IN',
       'IQ', 'BR', 'BE', 'UA', 'RU', 'MT', 'IR', 'CO', 'MD', 'KE', 'SI',
       'CA', 'VN', 'CN', 'CZ', 'MX', 'DZ', 'EE', 'MY', 'AU', 'IE',
       'United States', 'United Kingdom', 'Germany', 'Sweden',
       'Korea, Republic of', 'Spain', 'Estonia', 'France', 'Canada',
       'Australia', 'Portugal', 'Andorra', 'Netherlands', 'Ecuador',
       'Mexico', 'Israel', 'Turkey', 'Nigeria', 'Saudi Arabia',
       'Colombia', 'Ghana', 'Argentina', 'India', 'Japan',
       'Russian Federation', 'Italy', 'Central African Republic',
       'Ukraine', 'Ireland', 'Slovenia', 'Croatia', 'Armenia',
       'Bosnia and Herzegovina', 'Kenya', 'Latvia', 'Romania', 'Pakistan',
       'Lithuania', 'Iran, Islamic Republic of', 'Bahamas', 'Austria',
       'Brazil', 'Puerto Rico', 'Finland', 'American Samoa', 'Thailand',
       'Greece', 'Philippines', 'Belgium', 'Egypt', 'Indonesia',
       'United Arab Emirates', 'Malaysia', 'Honduras', 'Czechia',
       'Algeria', 'Iraq', 'Poland', 'Denmark', 'China', 'New Zealand',
       'Moldova, Republic of', 'Luxembourg', 'Malta'], dtype=object)

In [ ]:
# List of countries to keep
countries_to_keep = ['United States', 'United Kingdom', 'Germany', 'Sweden', 'Spain', 'Estonia', 'France', 'Portugal', 'Netherlands', 'Italy', 'Ireland', 'Slovenia', 'Croatia', 'Bosnia and Herzegovina', 'Latvia', 'Romania', 'Lithuania', 'Austria', 'Finland', 'Greece', 'Belgium', 'Denmark', 'Luxembourg', 'DE', 'GB', 'FR', 'NL', 'AT', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL', 'DK', 'RO', 'IE', 'BE', 'UA', 'RU', 'MT', 'SI', 'CZ', 'EE', 'LT', 'LV', 'SE', 'FI', 'CH', 'IS']

# Filter DataFrame to include only the countries in the list
df = df[df['company_location'].isin(countries_to_keep)]

# Optionally, you can reset the index if you want
df.reset_index(drop=True, inplace=True)

In [ ]:
df['company_location'].unique()

array(['DE', 'GB', 'FR', 'NL', 'AT', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL',
       'DK', 'RO', 'BE', 'UA', 'RU', 'MT', 'SI', 'CZ', 'EE', 'IE', 'SE',
       'LV', 'LT', 'FI'], dtype=object)

In [ ]:
df.to_csv('/content/Salaries_allsources.csv', index=False)

In [ ]:
country_mapping = {
    'Belgium': 'BE', 'Greece': 'EL', 'Lithuania': 'LT', 'Portugal': 'PT',
    'Bulgaria': 'BG', 'Spain': 'ES', 'Luxembourg': 'LU', 'Romania': 'RO',
    'Czechia': 'CZ', 'France': 'FR', 'Hungary': 'HU', 'Slovenia': 'SI',
    'Denmark': 'DK', 'Croatia': 'HR', 'Malta': 'MT', 'Slovakia': 'SK',
    'Germany': 'DE', 'Italy': 'IT', 'Netherlands': 'NL', 'Finland': 'FI',
    'Estonia': 'EE', 'Cyprus': 'CY', 'Austria': 'AT', 'Sweden': 'SE',
    'Ireland': 'IE', 'Latvia': 'LV', 'Poland': 'PL',
    'Iceland': 'IS', 'Norway': 'NO',
    'Liechtenstein': 'LI', 'Switzerland': 'CH',
    'Bosnia and Herzegovina': 'BA',
    'Montenegro': 'ME',
    'Moldova': 'MD',
    'North Macedonia': 'MK',
    'Georgia': 'GE',
    'Albania': 'AL',
    'Serbia': 'RS',
    'Trkiye': 'TR',
    'Ukraine': 'UA',
    'United States': 'US', 'United Kingdom': 'GB'
}

# Change country names using country_mapping
df['company_location'] = df['company_location'].replace(country_mapping)

<ipython-input-21-615a43ea630a>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['company_location'] = df['company_location'].replace(country_mapping)

In [ ]:
df['company_location'].unique()

array(['DE', 'GB', 'FR', 'NL', 'AT', 'ES', 'PT', 'IT', 'HR', 'LU', 'PL',
       'DK', 'RO', 'BE', 'UA', 'RU', 'MT', 'SI', 'CZ', 'EE', 'IE', 'SE',
       'LV', 'LT', 'FI'], dtype=object)